@font-face{
    font-family: "Roboto";
    src: local("Roboto-Thin"),
    url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face{
    font-family: "Lato";
    src: local("Lato-Thin"),
    url("../../fonts/lato/Lato-Regular.ttf") format("truetype");
}
