#containerNav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    position: fixed;
}
//Mobile first
#menuComputer{
    display: none;
    width: 50%;
    img{
        width: 20px;
        height: 20px;
        margin-top: 4px;
        cursor: pointer;
    }
    a{
        transform: translateY(10px);
        text-decoration: none;
        color: #7D7D7C;
        font-size: 10px;
        cursor: pointer;
    }
}
#menu{
    #navigationPhone{
        #buttonHamburger{
            background-color: transparent;
            background-repeat: no-repeat;
            border: none;
            cursor: pointer;
            div span{
                display: block;
                width: 30px;
                background-color: white;
                height: 5px;
                border-radius: 10px;
            }
            div span:nth-child(2),div span:nth-child(3){
                margin-top: 3px;
            }
        }
        #menuHamburger{
            position: fixed;
            margin-top: -46px;
            background-color: #363B3D;
            width: 200px;
            right:-50px;
            #linkMenuHamburger{
                margin-top: 30px;
                p{
                    margin-left: 10px;
                }
            }
            #buttonClose{
                background-color: transparent;
                background-repeat: no-repeat;
                border: none;
                cursor: pointer;
                float: right;
                margin-right: 2px;
                margin-top: 10px;
                div{
                    span:nth-child(1){
                        transform:  translateY(1px) rotateZ(45deg);
                    
                    }
                    span:nth-child(2){
                        transform: rotateZ(-45deg);
                    }
                    span{
                        width: 20px;
                        background-color: white;
                        display: block;
                        height: 2px;
                    }
                }
            }
        }
    }
}
#containerContactSocialMedia{
    display: flex;
    justify-content: space-between;
    width: 98%;
    position: fixed;
    bottom: 0;
    z-index: 5;
    #containerEmail{
        padding-top: 30px;
        a{
            text-decoration: none;
            font-size: 10px;
            p{
                color: white;
                span{
                    text-decoration: underline;
                }
            }
        }
    }
    #containerSocialMedia{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        transform: translateY(-5px);
        a{
            text-decoration: none;
            img{
                width: 20px;
                height: 20px;
            }
            img:nth-child(1){
                margin-bottom: 5px;
            }
        }
    }
}


.hideButtonHamburger, .hiddenMenuHamburger{
    display: none;
}
#menuHamburger{
    p{
        color: white;
    }
}
#ContainerDownloadCv{
    width: 20%;
    span:nth-child(1){
        color: #7D7D7C;
    }
    span:nth-child(2){
        margin-left: 5px;
        color: white;

    }
}

.appearMenuHamburger{
    animation-name: appearNav;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.hideMenuHamburger{
    animation-name: hideNav;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}  


@keyframes appearNav{
    0%{
        transform: translateX(12rem);
    }
    100%{
        transform: translateX(-3rem);
    }
}

@keyframes hideNav{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(12rem);
    }
}

@media screen and (min-width: 400px){
    #containerContactSocialMedia{
        #containerEmail{
            a{
                font-size: 12px;
            }
        }
        #containerSocialMedia{
            a{
                img{
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
@media screen and (min-width: 600px){
    #menuComputer{
        display: flex;
        justify-content: space-between;
    }
    #navigationPhone{
        display: none;
    }
    #menuComputer{
        a{
            font-size: 9px;
        }
        img{
            margin-top: 3px;
            width: 20px;
            height: 20px;
        }
    }
    #ContainerDownloadCv span{
        font-size: 12px;
    }
    #containerContactSocialMedia{
        #containerEmail{
            a{
                font-size: 14px;
            }
        }
        #containerSocialMedia{
            a{
                img{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}
@media screen and (min-width: 800px){
    #menuComputer{
        a{
            font-size: 12px;
        }
        img{
            margin-top: 3px;
            width: 25px;
            height: 25px;
        } 
    }
    #ContainerDownloadCv span{
        font-size: 14px;
    }
    #containerContactSocialMedia{
        #containerEmail{
            transform: translateY(10px);
            a{
                font-size: 16px;
            }
        }
        #containerSocialMedia{
            a{
                img{
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}

@media screen and (min-width: 1000px){
    #menuComputer{
        a{
            font-size: 14px;
        }
        img{
            margin-top: 7px;
            width: 25px;
            height: 25px;
        }
    }
    #ContainerDownloadCv span{
        font-size: 16px;
    }
    #containerContactSocialMedia{
        #containerEmail{
            a{
                font-size: 18px;
            }
        }
        #containerSocialMedia{
            a{
                img{
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
}

@media screen and (min-width: 1250px){
    #menuComputer{
        a{
            font-size: 16px;
        }
        img{
            margin-top: 10px;
            width: 25px;
            height: 25px;
        }
    }
    #ContainerDownloadCv span{
        font-size: 18px;
    }
}
@media screen and (min-width: 1500px){
    #containerContactSocialMedia{
        #containerEmail{
            a{
                font-size: 20px;
            }
        }
        #containerSocialMedia{
            a{
                img{
                    width: 38px;
                    height: 38px;
                }
            }
        }
    }
}

@media screen and (min-width: 1800px){
    #containerContactSocialMedia{
        #containerEmail{
            a{
                font-size: 22px;
            }
        }
        #containerSocialMedia{
            a{
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px){
    #navigationPhone #buttonHamburger{
        display: block;
    }
    #ContainerDownloadCv span{
        font-size: 12px;
    }   
}
